:root{
    --color--primary: #37003c;
    --text--color:#76766f;
    --text--color--white:#fff;
    --color--border: #ebe5eb;
    --Europa--League--gardian: linear-gradient(92.73deg, #000, #3e0704);
    --Conference--League--gardian:linear-gradient(92.73deg, #000, #13321f);
    --Champions--League--background:linear-gradient(92.73deg, #0f3df1, #0319cc);
    --font--family--regular:'premierSans-Regular','Arial';
    --font--family--heavy:'PremierSans-Heavy','Arial';
}
.wrapper{
    max-width: 1376px;
    margin: 0 auto;
    padding: 0 8px;
    height: 100%;
}
.header{
    font-family: 'PremierSans-Heavy','Arial';   
    position: relative;
}
body{
    font-family: 'PremierSans-Heavy','Arial';   
}


/* header */

/* clubList */
.header__club{
    height: 64px;
    display: flex;
    padding: 12px 0px 12px 165px;
    font-size: 14px;
    align-items: center;
    column-gap: 12px;
    position: relative;
}
@media (max-width: 480px) {
    .header__club {
        flex-direction: column;  /* Cho các item xuống hàng nếu quá hẹp */
        align-items: flex-start;
        height: auto;            /* Chiều cao tự động theo nội dung */
        padding: 10px;
        row-gap: 8px;            /* Thêm khoảng cách giữa các dòng */
    }
}
.header__club__sites{
    width: 85px;
    height: 18px;
    font-size: 12.5px;
    color: #767b7f;
}
.club-list{
    display: flex;
    
    height: 40px;
    padding: 0px 24px 0px 0px;
    column-gap: 12px;
    row-gap: 12px;
}
.club-list__club__img{
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
}
.club-list__club__img img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
}
.club-list__club__img img:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.2s ease;
}

/* container */

.container{
   position: relative;
}
.logo{
    position: absolute;
    height: 179px;
    width: 114px;
    top: -64px;
    cursor: pointer;
}
.logo img{
    display: flex;
    justify-self: center;
    width: 88px;
    height: 112px;
    margin: 28px 0px 0px 0px;
}

/*navMain*/
.navContainer{
    position: relative;
    display: flex;
    height: 60px;
    background-color: #37003c;
}
.mainNav{
    padding: 0px 0px 0px 140px;
    height: 100%;
}
.listNav{
    display: flex;
    height: 100%;
    cursor: pointer;
    /* position: relative; */
    justify-content: center;
}
.listNav__navLink{
    display: flex;
    align-items: center;
    padding: 0px 25px;
    font-size: 16.5px;
    color: #ffffff;
    position: relative;
}
.navlink{
    display: flex;
    align-items: center;
}
.icon{
    margin-left: 8px;
}
.right{
    display: flex;
    margin-left: auto;
    align-items: center;
}
.search{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    color: #ffffff;
}
.sign{
    height: 34px;
    display: flex;
    align-items: center;
    margin: 0px 18px 0px 24px;
    padding: 4px 8px;
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}
.right__text{
    font-size: 14px;
    height: 100%;
    display: flex;
    align-items: center;
    color: #ffffff;
    padding: 0px 20px;
}

/* dropdown */
.dropdown{
    top: 100%;
    position: absolute;
    display: none;
    background: #8e24aa;
    flex-wrap: nowrap;
    z-index: 10;
    gap: 15px;
    padding: 0px 5px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    /* display: flex; */
    justify-content: center;
}
.dropdown li{
    box-sizing: border-box;
    width: 50%;
    padding: 5px 18px;
}
.dropdown a{
    font-size: 12px;
    color: #fff;
    white-space: nowrap;
}
.dropdown a:hover{
    text-decoration: underline;
}
.navlink:hover .dropdown,
.listNav__navLink:hover .dropdown{
     display: flex;
}
.listNav__navLink:hover::after{
    display: block;
}


/*menuBar*/
.menuBar{
    position: relative;
    padding: 0px 0px 0px 145px;
    height: 55px;
    font-size: 12px;
}
.menuBar__list{
    display: flex; 
    height: 100%;
}
.menuBar__list li{
    display: flex;
   padding: 4px 20px;
   height: 100%; 
    align-items: center; 
    cursor: pointer;
    position: relative;
}      
.menuBar__list li a{
      color: #76766f;
} 
.menuBar__list li::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0px;
    background:linear-gradient(to right, #33c3ff, #8e24aa);
    bottom: 0px;
    left: 0px;
    z-index: 0;
    transition: all 0.1s ease;
}
.menuBar__list li:hover::after {
    height: 4px;
}

/* footer */
.mainFooter{
    background-color: #37003c;
    color: #fff;
}
.wrapper__footerCol{
    display: flex;
    justify-content: space-between;
    padding: 48px 0px 64px 0px;
}
.textHeader{
  
    margin-bottom: 20px;
    font-size: 25px;
}
.textContent.tow__column{
    column-count: 2;      
}
.textContent__link{
    font-family: 'premierSans-Regular','Arial';
    font-size: 12px;
    padding: 8px 0px; 
    color: #fff;
}

.footerCorporate{
    border-top: 1px solid #ffffff;
    height: 80px;
}
.footerCorporate__flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.footerCorporate__menu{
    display: flex;
    font-size: 11px;
    justify-content: space-between;
    text-align: center;
    font-family: 'premierSans-Regular','Arial';
}
.footerCorporate__menu li{
    margin: 0px 8px; 
}
.footerCorporate__menu li strong{
    font-family: 'premierSans-Bold','Arial';
}
.footerCorporate__link{
    color: #fff;
    font-size: 11px;
    font-family: 'premierSans-Regular','Arial';
}

.footerCorporate__logo{
    display: flex;
    align-items: center;
}
.footerCorporate__logo strong{
    font-size: 12px;
}
.footerCorporate__logo div img{
    height: 25px;
    width: 20px;
    margin: 0px 3px;
  
}

